main#modul_3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main#modul_3 .col1, main#modul_3 .col2 {
  width: 40vw;
  margin: 1vw 5vw;
}

main#modul_3 a {
  width: 10vw;
  border: 0.2vw solid grey;
  border-radius: 12.5vw;
  text-decoration: none;
  background: grey;
  color: navy;
}

main#modul_3 a:hover {
  background: silver;
}

div#services {
  color: white;
  text-shadow: -0.1vw -0.1vw navy, -0.2vw -0.2vw deepskyblue;
  background-image: url(../Images/clouds.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  text-align: center;
  padding: 4vw 0;
  width: 100vw;
  height: 20vw;
  background-size: cover;
}

section#container {
  display: flex;
  flex-wrap: wrap;
  margin: 1vw 0;
}

section#container div#column5 {
  width: 80vw;
  border: 1vw ridge skyblue;
  margin: 4vw auto;
  background-image: url(../Images/lights.jpg);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

section#container div#column5 h3, section#container div#column5 article {
  color: black;
  text-shadow: 0.2vw 0.2vw white;
  opacity: 0.8;
  text-align: center;
  padding: 0.5vw;
  font-family: monospace;
  font-size: 2vw;
}

section#container > div.columns1bis4 {
  width: 25vw;
  padding: 2vw;
  margin: 2vw 10vw;
  border: 0.1vw solid navy;
  box-shadow: 0.8vw 1vw silver, 1.6vw 2vw grey, 2.4vw 3vw black;
}

section#container > div.columns1bis4:nth-of-type(1) {
  background-image: url(../Images/lifeguard.jpg);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

section#container > div.columns1bis4:nth-of-type(1) h3 {
  text-align: right;
  color: navy;
  text-shadow: -2px 0 white, 0 -2px white, 2px 0 white, 0 2px white, -3px 0 red, 0 -3px red, 3px 0 red, 0 3px red;
  padding-top: 8vw;
}

section#container > div.columns1bis4:nth-of-type(2) {
  background-image: url(../Images/donostia.jpg);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

section#container > div.columns1bis4:nth-of-type(2) h3 {
  text-align: right;
  color: navy;
  text-shadow: -2px 0 white, 0 -2px white, 2px 0 white, 0 2px white, -3px 0 red, 0 -3px red, 3px 0 red, 0 3px red;
  padding-top: 8vw;
}

section#container > div.columns1bis4:nth-of-type(3) {
  background-image: url(../Images/traumstrand.jpg);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

section#container > div.columns1bis4:nth-of-type(3) h3 {
  text-align: right;
  color: navy;
  text-shadow: -2px 0 white, 0 -2px white, 2px 0 white, 0 2px white, -3px 0 red, 0 -3px red, 3px 0 red, 0 3px red;
  padding-top: 8vw;
}

section#container > div.columns1bis4:nth-of-type(4) {
  background-image: url(../Images/miami.jpg);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

section#container > div.columns1bis4:nth-of-type(4) h3 {
  text-align: right;
  color: navy;
  text-shadow: -2px 0 white, 0 -2px white, 2px 0 white, 0 2px white, -3px 0 red, 0 -3px red, 3px 0 red, 0 3px red;
  padding-top: 8vw;
}
