body {
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  display: flex;
  height: 6vw;
  width: 100vw;
  background: silver;
  justify-content: space-around;
  padding: 1.5vw 0vw;
}

nav a {
  padding: 1.5vw 3vw;
  height: 3vw;
  color: white;
  text-decoration: none;
  border: 0.1vw solid #646d7c;
  font-family: monospace;
  font-size: 2vw;
}

nav a:hover {
  background: grey;
  text-shadow: 0.2vw 0.5vw black;
}

section#forest {
  display: flex;
  flex-direction: column;
  background-image: url(../Images/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  width: 100vw;
  height: 50vw;
}

section#forest > h1, section#forest > h3 {
  color: white;
  text-shadow: 0.3vw -0.2vw black;
  text-align: center;
  font-size: 4vw;
  margin: 0;
}
