body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body div {
  display: flex;
  margin: 0.1vw auto;
}

body div:first-of-type {
  width: 15vw;
  height: 15vw;
  border: 0.1vw solid red;
  transform: skew(60deg);
}

body div:nth-of-type(2) {
  width: 15vw;
  height: 15vw;
  border: 0.1vw solid red;
}

body div:last-of-type {
  width: 15vw;
  height: 15vw;
  border: 0.1vw solid red;
}
