body {
  margin: 0.5vw auto;
  display: flex;
  flex-direction: column;
  background: blanchedalmond;

  section {
    display: flex;
    flex-direction: column;
    margin: 1vw auto;
    padding: 1vw;
    width: 50%;
    border: 0.5vw solid salmon;
    img {
      width: 33%;
      height: 10vw;
    }
  }
}
#errorMsg {
  display: none;
  background: red;
  color: white;
}

p {
  color: navy;
}
