body {
  margin: 2vw;
  background: pink;
}
h4 {
  color: red;
  background: rebeccapurple;
  margin: 0.5vw auto;
  text-shadow: 0.1vw -0.1vw white;
  text-align: center;
  font-size: 2vw;
}

section {
  padding: 0.5vw;
  color: rebeccapurple;
  text-align: justify;
  font-size: 2.5vw;
  font-family: fantasy;
  height: 0;
  overflow: hidden;
}

.visible {
  height: 10vw;
  background: white;
  transition: height 1s linear;
}

div {
  display: flex;
  aside {
    width: 20%;
    background: grey;
    li {
      list-style-type: none;
      padding: 1vw;
      color: white;
    }
  }

  section.templet {
    background: silver;
    width: 70%;
    p {
      font-size: 2vw;
      text-align: center;
      display: none;
    }
    .seeText {
      display: block;
    }

  }
}
