body {
  background: lime;
  margin: 0 auto;
  box-sizing: border-box;
}

body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: comic;
  font-size: 2vw;
}

body form input {
  outline: none;
  width: 60%;
  padding: 2vw;
  margin: 1vw auto;
  border: 0.2vw solid #777;
  border-radius: 2vw;
  box-shadow: 0.2vw 0.2vw #777;
}

body form button {
  outline: none;
  width: 20%;
  background: saddlebrown;
  color: gold;
  margin: 1vw auto;
  padding: 1vw;
  border: 0.2vw solid gold;
  border-radius: 2vw;
  box-shadow: 0.2vw 0.2vw #777;
}

body form button:hover {
  color: saddlebrown;
  background: gold;
  cursor: pointer;
}

p {
  width: 60%;
  font-size: 2.5vw;
  color: grey;
  padding: 2vw;
  margin: 0.5vw auto;
  background: lightgreen;
  border-radius: 2vw;
  box-shadow: 0.2vw 0.2vw #777;
}

p span {
  width: 15%;
  background: salmon;
  border-radius: 2vw;
  border: 0.2vw solid navy;
  padding: 0.2vw;
  float: right;
  text-align: center;
  color: navy;
  font-size: 1vw;
}

p span:hover {
  cursor: cell;
  opacity: 0.5;
}
