section {
  display: flex;
  flex-wrap: wrap;
}
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.2vw solid navy;
    width: 20vw;
    height: 20vw;
    margin: 1.5vw auto;
    padding: 1.5vw 2.5vw;
    @each $pos, $pic, $place, $text in (1, amsterdam, Amsterdam, Hauptstadt von den Niederlanden),
                                      (2,barcelona,Barcelona,spanische Stadt in Katalonien),
                                      (3,brooklyn, New York City, berühmter Stadtteil in NYC),
                                      (4,canyon,Death Valley, sehr heisser Ort in den USA),
                                      (5,cologne, Köln,deutsche Hauptstadt des Karnevals),
                                      (6,donostia, San Sebastian, spanische Stadt an der Nordatlantikküste),
                                      (7,elphi,Hamburg, Hamburgs neues Wahrzeichen) {

                                        &:nth-of-type(#{$pos}) {
                                        background: {
                                        size: 100% 50%;
                                        margin: 4vw 2.5vw;
                                        repeat: no-repeat;
                                        position: top;
                                        image: url(../Images/#{$pic}.jpg);      }
                                        p:before {
                                        height: 20vw;
                                        color: silver;
                                        text-shadow: 0.2vw 0.3vw black;
                                        font-size: 2vw;
                                        content: '#{$text}';
                                                                                  }
                                        h4:before {
                                        color: silver;
                                        opacity: 0.7;
                                        text-shadow: 0.2vw 0.2vw red;
                                        font-family: arial;
                                        font-size: 2.5vw;
                                        content: '#{$place}';
                                          }
                                        button {
                                          color: red;
                                          background: white;
                                          border-radius: 25vw;
                                          text-align: center;
                                        }




    }
  }
}
