

#ball {
  width: 8vw; height: 8vw; border: 1vw solid black; background: white;
  position: relative; border-radius: 50%;
  animation: my_animation 4s linear;
}

section#rasen {
  background: green; width: 90vw; height:40vw; border: 1vw solid white;
}

@keyframes my_animation {

    0%  {transform: translate(0, 50%);}
    33% {transform: translate(50%,100%);}
    67% {transform: translate(75%,50%);}
    80% {transform: translate(80%, 40%);}
    100% {transform: translate(20%, 50%;}
}
