body {
  background: #B8B8B8; margin: 0;
}

nav {
  background: #BB8BB8; text-align: center;
}

nav > a {
  font-family: verdana; color: #000000; text-decoration: none; padding: 2vw 2.5vw;
  display: inline-block; font-size: 2vw;

}

nav > a:hover, nav >button:hover { color: red; background-color: white; cursor: pointer;

}

nav > button{
  background: transparent; border: 1px #000000; font-size: 2vw;
}

@media screen and (max-width: 990px) {
  nav {
    background: green; font-size: 6vw;
  }
  nav >a{
    color: white;
  }

}

@media screen and (max-width: 400px) {
  nav >a {
    display: block; font-size: 8vw;
  }

}
