*{
  background: silver; font-family: arial; font-size: 2vw;
}

article {
  column-count: 5; column-rule: 1vw dashed grey; column-fill: balance; background: rgba(9,0,0,0.1);
}

article::first-letter {
  font-size: 4.5vw; font-family: jokerman;
  background: skyblue;
  color: white;
}


h3 {
  font-size: 3.5vw; text-align: left; color: grey; font-style: oblique; text-shadow: 0.4vw 0.2vw skyblue;
}

h3::first-letter{
  font-size: 6.5vw; font-family: jokerman;
}
